#lattice td.flagOk {
    background: url("../../images/skin/two/Ok.png") no-repeat center;
}

#lattice td.mine {
    background: url("../../images/skin/two/mine.png") no-repeat center;
}

#lattice td.mine2 {
    background: url("../../images/skin/two/mine2.png") no-repeat center;
}
html,input,label,table,tr,td,select,option{
    cursor: url('../../images/skin/two/cursor.png'),auto; /* 首先尝试加载自定义图片，如果失败则使用默认光标 */
}